
//Обнуляющий стиль
@import "nullstyle.scss";


//Шрифты
/* inter-500 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../helosass/fonts/inter-v3-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../helosass/fonts/inter-v3-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* inter-600 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../helosass/fonts/inter-v3-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../helosass/fonts/inter-v3-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

//Контент
body{
    background: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    position: relative
}


.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    max-width: 1500px;
    padding: 0 10px;
    align-items: center;
    
}


.column{
    margin-right: 50px;
    flex: 0 1 33.333%;
    &:last-child{
        margin-right: 0;
    }
    
}
.intro{
    
    
}

.intro__name{
    font-weight: 600;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 65px;

}


.intro__row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
    
}
.info{
    margin-bottom: 28px;
    flex: 0 1 50%;
    .intro__row-block{
        opacity: 0.6;
    }
    
    
    &:nth-child(3){
        margin-bottom: 0;
    }
    &:nth-child(4){
        margin-bottom: 0;
    }
    .intro__row-img{
        margin-bottom: 7px;
    }
    .intro__row-text{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
}

    }


.title{
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 30px;
    opacity: 0.9;
}
.intro-scale{
    margin-bottom: 17px;
    &:last-child{
        margin-bottom: 0;
    }
    p{
        opacity: 0.8;
    }
    progress{
        
        height: 7px;
        width: 100%;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
    }
    progress::-moz-progress-bar {
        background-color: #FFFFFF;
        border-radius: 10px;}
    progress::-webkit-progress-value {
        background: #FFFFFF;
        border-radius: 10px;
    }
    progress::-webkit-progress-bar {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
    }
    
    
}
    


.description{
    
    
}
.block{
    margin-bottom: 50px;
    &:last-child{
        margin-bottom: 0;
    }
}

.text {
    opacity: 0.8;
    
    li{
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.photo {
    height: 750px;
    
    background: url('../woman.png') 0 0/cover no-repeat ;
    border-radius: 7px;
    display: flex;
    align-items: flex-end;
}

.photo-text {
    max-width: 460px;
    max-height: 600px;
    overflow: auto;
    padding: 0 50px;
    text-align: left;
    margin-bottom: 83px;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    
    
}


@media (max-width:1330px){
    .wrapper{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        align-items: center;
        
    }
    .column{
        flex-grow: 1;
        
    }
    .intro{
        order: 1;
        margin-bottom: 50px;
    }
    .intro__name{
        font-size: 43px;
    }
    .description{
        order: 3;
    }
    .description__row{
        display: flex;
        
    }
    .block{
        flex: 0 1 33.33%;
        margin-right: 50px;
        &:last-child{
            margin-right: 0;
        }
        
    }
    .photo{
        height: 600px;
        max-width: 400px;
        order: 2;
        margin-bottom: 50px;
        margin-top: 10px;
    }
    .photo-text{
        max-height: 470px;
    }
}
@media (max-width:768px){
    .column{
        flex: 1 1 auto;
        margin-bottom: 50px;
    }
    
    .intro__name{
        font-size: 35px;
        line-height: 43px;
    }

    .description__row{
        flex-direction: column;
        
    }
    .block{
        flex: 0 1 auto;
    }
    .photo{
        
        max-height: 200px;
        max-width: 100%;
        margin-bottom: 50px;
        
    }
    .photo-text{
        margin-bottom: 10px;
        font-size: 23px;
        max-width: 747px;
        max-height: 170px;
    }
}